.green
{
    background-color: green;
    border: 1px solid green;
}
.red
{
    background-color: red;
    border: 1px solid red;
}
.blau
{
    background-color: blue;
    border: 1px solid blue;
}

table
{
    border-collapse: collapse;
}

th, td
{
    border: black 1px solid;
}

tbody tr:nth-child(2n-1) 
{
    /* background-color: yellow; */
}

.p
{
    background-color: aqua;
}