body
{
    font-size: 1.5rem;
}

table
{
    border-collapse: collapse;
}
 
th, td
{
    border: black 1px solid;
}
 
th
{
    background-color: gray;
    color: white;
 
    line-height: .2em;
}
 
tr
{
    text-align: center;
    line-height: .2em;
}
 
.dur
{
    font-weight: 100;
    font-size: .5em;
}
 
.teacher
{
    font-weight: 500;
    font-size: .5em;
}