html
{
    --col4: #82959C;

    --tableBg: rgb(228, 228, 255);

    --emptyBg: transparent;

    font-family: sans-serif;
}

body
{
    font-size: 1.5rem;

    background-color: var(--tableBg);
}

.hidden
{
    background-color: transparent;
    border: none;
}

.day
{
    transform: rotate(270deg);
}

thead th
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

table
{
    border-spacing: .25em;

    margin: auto;
}
 
td
{
    border: rgba(0, 0, 0, 0.05) 1px solid;
}
 
td:has(p)
{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.314);

    background-color: white;
}

th
{
    background-color: var(--col4);
    color: white;
}
 
tr
{
    text-align: center;
    line-height: .13em;
}
 
.dur
{
    font-weight: 100;
    font-size: .5em;

    color: rgb(224, 224, 224);
}
 
.teacher
{
    font-weight: 500;
    font-size: .5em;
}